.header {
  height: 6.25rem;
}

.content {
  width: 62.5rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 2.125rem;
  height: 2.125rem;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.menu > .item {
  user-select: none;
  cursor: pointer;
}

.menu > .item.selected {
  font-weight: 600;
}