.hero {
  background-color: var(--dark);
  padding: 3.75rem;
  border-radius: 1.25rem;
}

.computer {
  float: right;
  width: 18.375rem;
}

.bigHeading {
  font-size: 4rem;
  font-weight: normal;
  color: var(--light);
}

.description {
  font-size: 1.25rem;
  width: 28.75rem;
  line-height: 1.7;
  color: var(--light);
  margin-top: 2.5rem;
}

.buttonContainer {
  display: flex;
  column-gap: 1.25rem;
  margin-top: 5rem;
}

.button {
  width: 10.625rem !important;
}